/* commom style about font */
.text-center {
    text-align: center;
}
.text-size-xs {
    font-size: 0.4rem;
}
.text-size-s {
    font-size: 0.5rem;
}
.text-size-m {
    font-size: 0.6rem;
}

/* custom SUI style */
.content-block.content-custom {
    padding: 0;
    margin: 0;
}
.bar .button-link {
	color: #ffffff;
}

p.tip-text {
    width: 95%;
    margin: 0 auto;
}

/* circleEdge-input */
div.circle-input-container ul {
    padding: 0;
}
div.circle-input-container li {
    position: relative;
    width: 95%;
    height: 1.8rem;
    margin: 0.75rem auto;
    border: 1px solid #848484;
    border-radius: 2rem;
    list-style: outside none none;
}
div.circle-input-container input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border: medium none;
    border-radius: 2rem;
}

/* rectangleEdge-input */
div.rectangle-input-container ul {
    padding: 0
}
div.rectangle-input-container li {
    position: absolute;
    width: 95%;
    height: 1.8rem;
    margin: 0.5rem auto;
    list-style: outside none none;
}
div.rectangle-input-container input {
    width: 100%;
    height: 100%;
    padding-left: 0.25rem;
    border: none;
    border-radius: 0.5rem;
}

/* noEdge-input */
div.noedge-input-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
div.noedge-input-container li {
    background-color: #ffffff;
    border-bottom: 1px solid #d6d6d6;
}
div.noedge-input-container input {
    width: 100%;
    height: 1.8rem;
    margin: 0.5rem;
    border: none;
}

/* send-code */
div.send-code-container ul li {
    position: relative;
}
div.send-code-container .send-code {
    position: absolute;
    display: block;
    width: 5rem;
    height: 1.8rem;
    line-height: 1.8rem;
    padding: 0 0.25rem 0 0;
    margin-top: -0.9rem;
    border: 0 none;
    top: 50%;
    right: 0;
    color: #ff6632;
    font-size: 0.5rem;
    text-align: right;
}

/* circle-button */
div.circle-button-container {
    width: 95%;
    padding: 0;
    margin: 1rem auto;
}
div.circle-button-container .circle-button {
    height: 1.8rem;
    width: 100%;
    line-height: 1.8rem;
    border-radius: 2rem;
}

/* rectangle-button */
div.rectangle-button-container {
    width: 95%;
    padding: 0;
    margin: 1rem auto;
}
div.rectangle-button-container .rectangle-button {
    height: 1.8rem;
    width: 100%;
    line-height: 1.8rem;
    border-radius: 0.5rem;
}

/* circle checkbox;circle radio */
.circle-checkbox-container {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #cccccc;
    border-radius: 50%;
    text-align: center;
}
.circle-checkbox-container.selected {
    background-color: #ff6632;
}
.circle-checkbox-container input[type="checkbox"], 
.circle-checkbox-container input[type="radio"] {
    vertical-align: middle;
    display: none;
}
.circle-checkbox-container .icon-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
}
.circle-checkbox-container i.icon {
    color: #ffffff;
}
.circle-checkbox-container input[type="checkbox"]:checked + .icon-container, 
.circle-checkbox-container input[type="radio"]:checked + .icon-container {
    background-color: #ff6632;
}

/* vertical-division-line */
.vertical-division {
    position: relative;
}
.vertical-division:after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #d6d6d6;
}

/* horizontal-division-line */
.horizontal-division {
    position: relative;
}
.horizontal-division:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #d6d6d6;
}

/* order-list */
.orders-title {
    padding: 0.5rem;
}
.orders-list .order-header {
    height: 1.25rem;
    line-height: 1.25rem;
    padding: 0 0.5rem;
    background-color: #e0e0e0;
}
.orders-list .order-content {
    padding: 0.5rem;
    background-color: #ffffff;
}

/* nomore-item */
.nomore-item {
    padding: 0.5rem;
    font-size: 0.5rem;
    text-align: center;
}
.nomore-item:after {
    content: "没有更多记录了"
}